@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', serif;
}

html {
  transition: background-color 0.3s ease;
  background-color: white;
  color: black;
}

html.dark {
  background-color: #111828;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
