.rangeSlider {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 10;
  &.disabled {
    pointer-events: none;
  }
}

.thumb {
  height: 100%;
  width: 10px;
  background-color: #60a5fa;
  position: absolute;
  z-index: 10;
  transition: all 0.3s;
}

.filledTrack {
  background-color: #60a5fa;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  transition: all 0.3s;
}

.progressTrack {
  background-color: #6b7280;
  height: 100%;
  position: absolute;
  z-index: -10;
  transition: all 0.3s;
}
