@use '@styles/colors' as *;

.range {
  position: relative;
  height: 3px;
  margin: 0;
  padding: 0;
  background-color: $primary_color;
  border-radius: 0;
  transition: all 0.3s;

  &:hover {
    height: 10px;
  }
}

.player:hover .range {
  height: 12px;
}

.disabled {
  pointer-events: none;
  color: gray;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 7px 20px;
  background-color: $secondary_color;
  color: $white_color;
  justify-content: space-between;

  & > .info {
    display: inherit;
    align-items: inherit;
    justify-content: start;
    width: 30%;

    & > img {
      border-radius: 7px;
      background-size: contain;
      background-position: center top;
    }

    & > div {
      margin-left: 10px;

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      .author {
        font-size: 14px;
        margin-top: 5px;
      }
    }
    & > button {
      color: $white_color;
      font-size: 21px;
      margin-left: 10px;
    }
  }

  & > .controls {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

    & > button {
      font-size: 22px;
      margin: 0 3px;
      color: $white_color;
    }
  }

  & > .nav {
    width: 30%;
    display: flex;
    justify-content: end;
    background: none;
    & > button {
      background: none;
      font-size: 21px;
      border: none;
      color: $white_color;
      margin: 0 3px;
    }

    & > button:last-child {
      margin: 0 0 0 3px;
    }
  }
}

.volume {
  display: flex;
  align-items: center;
  background: $secondary_color;

  .volumeRange {
    position: relative;
    width: 0;
    height: 5px;
    top: -3px;
    border-radius: 9px;
    transition: all 0.3s;
  }

  .volumeBtn {
    font-size: 22px;
    margin: 0 3px;
    color: $white_color;
    cursor: pointer;
  }

  &:hover .volumeRange {
    width: 100px;
  }
}

@media screen and (max-width: 1024px) {
}
