.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  .content {
    display: flex;

    .routes {
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}
